*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: yellowgreen;
}

.container{
    text-align: center;
}
h1{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span{
    color: blue;
    cursor: pointer;
}
span:hover{
    text-decoration: underline;
    color: red;
}

.subtopic{
    text-align: center;
}

.var-showing{
    display: none;
}

.java-showing{
    display: none;
}

.jQuery-showing{
    display: none;
}

.operators-showing{
    display: none;
}

.function-showing{
    display: none;
}

.method-showing{
    display: none;
}

.argument-showing{
    display: none;
}

.parameters-showing{
    display: none;
}

.chain-showing{
    display: none;
}